/* grid gap */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250); /* 4 columns, each 100px wide */
    grid-template-rows: repeat(4, 250); /* 4 rows, each 100px high */
    grid-gap: 50px; /* 50px gap between columns and rows */

   }

.grid-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
        align-items: center; /* Center the content within each grid item */
    height: 100vh;
    justify-content: center;
   } 
}

